---
layout: home
title: Home
---

<!doctype html>
<html>

{% include head.html %}

<body>

<div class="container">
  {% include header.html %}
  <div class = "post-wrapper">

<div class = "grid">


<img class="w3-round" src="../assets/img/foto_rmj.png">




<div class="paragraph_front"> 
<H2> Rasmus M. Jensen</H2>
<H6> Computational Economectrics and stuff </H6>
<p>
This webpage is designed as a formal way to distribute some of my knowledge, as well as way to train myself to be more concise in writing technical stuff in a non-technical way.
 </p>
 <p>
I am a recent graduate from Aarhus University; International Master of Science in Quantitative Economics (<i>Danish title: </i> Cand. Oecon (IMSQE)), wiith my thesis being written on the subject of big-data incorporation in unstable structural macroeconometrics.
 </p>

<p> The site is still in very early development, as I am still working on the optimal approach to website development. Any recommendations or comments is accepted with gratitude.</p>
</div>
</div>
</div>
 {% include footer.html %}
</div>
</body>
</html>

