---
layout: home
title: Home
---

<!doctype html>
<html>

{% include head.html %}

<body>

<div class="container">
  {% include header.html %}
  <div class = "post-wrapper">

<div class = "grid">


<img class="image_rmj" src="https://rasmusjensen96.github.io/WS/assets/img/foto_rmj.png" alt="">
  
  




<div class="paragraph_front"> 
<H6> Computational Economectrics and stuff </H6>
<p>
This webpage is designed as an informal way to distribute homebrew projects, as well as way to train myself to be concise in writing technical material in a non-technical way.
 </p>
 <p>
I am a recent graduate from Aarhus University; holding a degree as International Master of Science in Quantitative Economics (<i>Danish title: </i> Cand. Oecon (IMSQE)), wiith my thesis being written on the subject of big-data incorporation in unstable structural macroeconometrics.
 </p>

<p> The site is in early development, as I am still working on the optimal approach to website development. Any recommendations or comments is accepted with gratitude.</p>
  
  <p> A few shiny-dashboards for various projects:
    <br>  
  <a href="  https://rasmusjensen96.shinyapps.io/VolatilityModelling/?_ga=2.216955487.833850352.1595424626-1429273213.1595424626">Financial risk-modelling</a> 
    <br>
  <a href="  https://rasmusjensen96.shinyapps.io/LeastSquaresEfficiency/?_ga=2.150493183.833850352.1595424626-1429273213.1595424626">Efficiency of the least squares estimator</a>
 </p>
   
</div>
</div>
</div>
 {% include footer.html %}
</div>
</body>
</html>

